.gegga {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper div {
    filter: url(#gegga);
    width: 200px;
    height: 200px;
}

.snurra {
    position: absolute;
}

.stopp1 {
    stop-color: #a855f7;
    /* Changed from #f700a8 (pink) to purple-500 equivalent */
}

.stopp2 {
    stop-color: #d946ef;
    /* Changed from #ff8000 (orange) to fuchsia-500 equivalent */
}

.halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
}

.strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
}

.skugga {
    filter: blur(5px);
    opacity: 0.3;
    position: absolute;
    transform: translate(3px, 3px);
}

@keyframes Snurra1 {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -403px;
    }
}